.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3498db;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    margin: 10px;
    transition: transform 0.2s; /* Add a transition to the transform property */
}

.cards:hover {
    transform: scale(1.05); /* Scale up the card slightly on hover */
}

.cards img {
    max-width: 100%;
}

.cards h2 {
    margin: 10px 0;
    font-size: 1.5rem;
}

.cards h3 {
    font-size: 1.2rem;
}
.heading-container {
    text-align: center;
    background-color: #3498db;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.heading-container h1 {
    color: white; /* Your desired color */
    font-size: 2rem;
    margin: 0;
}
body{
    background-color: #ffe0db;
}
